:root {
    --primary-color: rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.gird {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.gird__full-width {
    width: 100%;
}

.gird__row {
    display: flex;
    flex-wrap: wrap;
}

/* animation */
@keyframes facein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes notification {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
/* modal */
.modal{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: flex;
}
.modal__overlay{
    z-index: 0;
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.modal__body{
    z-index: 1;
    height:600px;
    width: 600px;
    margin:auto;
    background-color: var(--white-color);
    border-radius: 3px;
    
}